$default-transition-length: 0.25s;

.site-header,
.site-footer {
    @include xy-grid-container;
}

.site-header-grid,
.site-footer-grid,
.footer-menu-grid {
    @include xy-grid;
}

.site-header-grid {
    @include flex-align($x: left, $y: bottom);
}

.site-footer-grid {
    @include flex-align($x: center, $y: top);
}

.footer-menu-grid {
    @include flex-align($x: center, $y: top);
}

.site-branding {
    @include xy-cell( 'shrink' );
}

.site-navigation {
    @include xy-cell( 'shrink' );
}

.site-info {
    @include xy-cell( 'full' );
}

.site-footer-nav {
    @include xy-cell( 'full' );
}

.footer-menu {
    @include xy-cell( 'shrink' );
}

.site-footer {
    a {
        transition: all $default-transition-length;

        &:hover {
            transform: scale(0.9);
        }
    }
}
.logo {
    transition: all $default-transition-length;

    &:hover {
        transform: scale(0.9);
    }
}