$default-transition-length: 0.25s;

.site-header,
.site-footer {
    @include xy-grid-container;
}

.site-header-grid,
.site-footer-grid,
.footer-menu-grid {
    @include xy-grid;
}

.site-header-grid {
    @include flex-align($x: justify, $y: middle);

    @include breakpoint(medium) {
        @include flex-align($x: left, $y: bottom);
    }
}

.site-footer-grid {
    @include flex-align($x: center, $y: top);
}

.footer-menu-grid {
    @include flex-align($x: center, $y: top);
}

.site-branding {
    @include xy-cell( 'shrink' );
    order: 10;
    @include breakpoint(medium) {
        order: 1;
    }
}

.site-navigation {
    @include xy-cell( 'shrink' );
    order: 5;
    @include show-for(medium);
}

.header-hamburger, .header-info {
    @include xy-cell( 'auto' );
    @include hide-for(medium);
}
.header-hamburger {
    order: 1;
}

.header-info {
    order: 20;
}

.site-info {
    @include xy-cell( 'full' );
}

.site-footer-nav {
    @include xy-cell( 'full' );
}

.footer-menu {
    @include xy-cell( 'shrink' );
}

.footer-menu .menu {

    @include breakpoint(small down) {
        @include menu-direction(vertical);
    }
    @include menu-simple;
}

@include breakpoint(medium) {

    .site-footer {
        a {
            transition: all $default-transition-length;

            &:hover {
                transform: scale(0.9);
            }
        }
    }
    .logo {
        transition: all $default-transition-length;

        &:hover {
            transform: scale(0.9);
        }
    }

}